<html>
  <head>
    <meta charset='utf-8' />
    <style>
      .container { background-color: lightblue; height: 100vh; padding: 20px; }
      .content { max-width: 600px; margin: 0 auto; background: #fff; padding:
      20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); } .button
      { display: inline-block; padding: 10px 20px; margin-top: 20px;
      background-color: #007BFF; color: white; text-decoration: none;
      border-radius: 5px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <h1>Thank you for signing up with webdesignsbytom</h1>
        <p>Please verify your email address to complete the signup and login
          into your account.</p>
        <p>This link <b>expires in 6 hours</b>.</p>
        <a class='button' href='{{verificationUrl}}'>Verify Email</a>
      </div>
    </div>
  </body>
</html>